body{
        background-color: rgb(217, 203, 150);
        font: normal 15pt Times;
}

header{
    color: white;
    text-align: center;
}

section{
    background: black;
    border-radius: 100px;
    padding:15px;
    width: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.595);
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}